@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Dynamic Sentence Web App Backend</h1>
    <p>Dynamically build a sentence by selecting words
based on their word types.</p>
</div>
