@model Dynamic_Sentence_Web_App.Models.WordSentence

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WordSentence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordUnit.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sentence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sentence.Id)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="WordUnitId" />
        <input type="hidden" asp-for="SentenceId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
